.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.g-container { max-width: 1200px; width: 100%; margin: 0 auto; }

.tab {
  display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab .tab-item {
  background-color: inherit;
  display: block;
  padding: 14px 16px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.tab .tab-item:hover {
  background-color: #ddd;
}

.tab-content {
  padding: 20px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}